<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="skyprojects.jchat" version="1.0.2">
    <name>JChat</name>
    <description>
        Jesus Christ Chat
    </description>
    <author email="jesuschrist@gmail.com" href="jesuschrist.ru">
        Jesus Christ Team
    </author>
	<platform name="android">
              <icon density="ldpi" src="icon.png"/>
              <icon density="mdpi" src="icon.png"/>
              <icon density="hdpi" src="icon.png"/>
              <icon density="xhdpi" src="icon.png"/>
     </platform>
	
	<preference name="android-minSdkVersion" value="10" />
	
    <content src="index.html"/>
    <access origin="*"/>
</widget>
