@font-face {
  font-family: 'Roboto';
  src: url('../img/Roboto-Regular.ttf') format('truetype');
}

html,
body {  
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;    
}
h1,
h2,
h3,
h4,
p,
div,
span,
input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
    outline-style: none;
}
input {    
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-appearance: none;
    outline-style: none;
}

.app {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.placeholder {
    color: #aaa !important;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

/* Icons */
.icon-user {
    background-image: url(../img/person124px.png);
    background-repeat: no-repeat;
    background-size: 22px;
}
.icon-search {
    background-image: url(../img/search124.png);
    background-repeat: no-repeat;
    background-size: 22px;
}
.icon-menu {
    background-image: url(../img/menu124.png);
    background-repeat: no-repeat;
    background-size: 22px;
}
.icon-exit {
    background-image: url(../img/exit124.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-smile {
    background-image: url(../img/mood124.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-edit {
    background-image: url(../img/edit124.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-settings {
    background-image: url(../img/settings124.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-drop-down {
    background-image: url(../img/dropdown124.png);
    background-repeat: no-repeat;
    background-size: 26px;
}
.icon-arrow-up {
    background-image: url(../img/arrowup124.png);
    background-repeat: no-repeat;
    background-size: 26px;
}
.icon-back {
    background-image: url(../img/back124.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.circle64 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
}
.circle48 {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
}
/* mToolbar */

.mtoolbar {
    display: block;
    padding-left: 20px;
    padding-right: 5px;
    position: relative;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 64px;
    background-color: #283593;
    color: #fff;
    -webkit-box-shadow: 0 2px 3px 0px #C2C2C2;
    box-shadow: 0 2px 3px 0px #C2C2C2;    
}
.mtoolbar .tcontent {
    width: 100%;
}
.mtoolbar .title {
    text-align: center;
    font-size: 1.3em;
    line-height: 0;
    height: 64px;
    width: 33%;
}
.mtoolbar .left-buttons {
    height: 64px;
    width: 33%;
}
.mtoolbar .right-buttons {
    height: 64px;
    width: 33%;
}
.mtoolbar .right-buttons .inner {
    float: right;
}
/* mButonn */

.mbutton {
    display: inline-block;
    line-height: 36px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);    
    padding-left: 8px;
    padding-right: 8px;
}
.mbutton:active {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);    
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.mbutton-icon {
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 2px;
    background-position: center;
    float: left;
    margin-right: 10px;
}
.mbutton-icon:hover {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.mbutton-icon:active {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.05);
}
/* mSendPanel */

.msendpanel {
    width: 100%;
}
.msendpanel table {
    width: 100%;
}
.msendpanel .message {    
    width: 100%;
}

.msendpanel .message .inner {    
    width: 100%;
    line-height: 32px;
    border-bottom: 2px solid #303F9F;
}

.msendpanel .message .tags {
    display: none;
    width: 1%;
    
}
.msendpanel .message .tags .tag {
    padding-right: 2px;
}

.msendpanel .message .user {    
    display: none;    
    font-size: 0.8em;
    background-color: #1B5E20;
    line-height: 18px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
}
.msendpanel .message .time {
    display: none;
    font-size: 0.8em;
    background-color: #283593;
    line-height: 18px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
}

.msendpanel .smile {
    padding-left: 8px;
    padding-right: 8px;
}
.msendpanel .smile .inner {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.msendpanel .smile.active {
    background-color: #222222;
}

.msendpanel .smile-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 176px;
    background-color: #222222;
    bottom: 64px;
    left: 0px;
    z-index: 9999;
}

.msendpanel .smile-popup img {
    display: block;
    height: 20px;
    padding: 7px;
    cursor: pointer;
    float: left;
}

.msendpanel .send {
    width: 1%;
    padding-right: 10px;
    padding-left: 4px;
}
.msendpanel .send .mbutton {
    background-color: #F4F4F4;
    color: #333;
}
.msendpanel .send .mbutton:active {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.05);
}
.msendpanel input {
    width: 100%;
    border: 0;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: 0;
    border-radius: 2px 0px 0px 2px;
    color: #333;
    font-size: 0.9em;
    /* border-bottom: 2px solid #303F9F; */
    background-color: transparent;
    padding-left: 2px;
}

/* mChatList */
.mchatlist {
    position: relative;    
    padding-left: 16px;
    padding-right: 16px;   
}
.mchatlist .title {
    line-height: 48px;
    font-size: 0.9em;
    color: #777;
}

.mchatlist .load {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 20px;
    height: 20px;
}

.mchatlist .item {
    display: none;
}

.mchatlist .item table {    
    width: 100%;
}
.mchatlist .item .photo {
    width: 72px;
}
.mchatlist .item .data {
    padding-left: 16px;
    position: relative;
}
.mchatlist .item .nick {
    font-weight: bold;
}
.mchatlist .item .message {
    font-size: 0.9em;
    padding-top: 2px;
    color: #777;
}

.mchatlist .item .onmessage {
    cursor: pointer;
}

.mchatlist .item .ontime {
    vertical-align: top;
    position: relative;
    width: 1%;
}

.mchatlist .item .time {    
    top: 0px;
    right: 0px;
    font-size: 0.8em;
    color: #777;
    cursor: pointer;
}


.mchatlist .item .line {
    padding-left: 16px;
}
.mchatlist .item .line hr {
    border: 0;
    background-color: #ddd;
    height: 1px;
}
/* mSidePanel */

.msidepanel .panel {
    display: none;
    vertical-align: top;
    background: #fff;
    width: 270px;
    height: 100%;
    -webkit-box-shadow: 0 0px 30px 1px #000;
    box-shadow: 0 0px 30px 1px #000;
    position: absolute;
    top: 0;
    left: -300px;
    overflow: hidden;
    z-index: 9999;
}
.msidepanel .panel .info {
    position: relative;
    /*height: 180px;*/
    height: 86px;
    background: #1a237e;
    /*background-image: url(../img/tile1.jpg);*/
    padding: 16px 16px 24px 16px;
    color: #fff;
}
.msidepanel .panel .info .photo {
    padding-right: 32px;
}
.msidepanel .panel .info .nick {
    font-weight: bold;
    font-size: 1.1em;
}
.msidepanel .panel .info .data {
    /* position: absolute; */
    /* bottom: 16px; */
    list-style: none;
    padding: 0;
    padding-top: 8px;
    margin: 0;
}
.msidepanel .panel .info .data li {
    padding-bottom: 8px;
}
.msidepanel .panel .info .buttons {
    position: absolute;
    top: 8px;
    right: 0px;
}
.msidepanel .panel .info .more {
    position: absolute;
    top: 81px;
    right: 0px;
}

.msidepanel .panel .list {
    padding: 16px 0px 16px 16px;
}
.msidepanel .panel .list .user {
    width: 100%;
    padding-bottom: 8px;
    cursor: pointer;
}

.msidepanel .panel .list .user .nick {
    width: 100%;
    font-size: 0.9em;
}

.msidepanel .panel .list .user .command .mbutton-icon {
    background-size: 16px;
}

.msidepanel .panel .list .user .photo {
    width: 1%;
    padding-right: 16px;
}
.msidepanel .overlay {
    background-color: rgba(102, 102, 102, 0.05);
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}
/* mToogleGroup */

.mtogglegroup {
    display: inline-block;
    line-height: 32px;
}
.mtogglegroup .mgbutton {
    position: relative;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
}
.mtogglegroup .mgbutton.active {
    color: #333;
    background: #fff;
}
.mtogglegroup .mgbutton.right {
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
}
.mtogglegroup .mgbutton.left {
    border-radius: 4px 0px 0px 4px;
}
.mtogglegroup .mgbutton .sticker {
    position: absolute;
    z-index: 9999;
    top: -8px;
    right: -8px;
    font-size: 0.9em;
    background: #EF2E1B;
    padding-left: 1px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 11px;
    color: #FFF;
}

/* mContentSlider */

.mcontentslider {
    overflow: hidden;    
}

.mcontentslider .host {
    height: 100%;    
}

/* mDialog */
.mdialog {
}

.mdialog .inner {
    display: none;
    position: absolute;
    padding: 25px;
    width: 300px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 20px 1px #333;
    box-shadow: 0 0px 20px 1px #333;
    z-index: 9999;
}

.mdialog .inner .title {
    font-size: 1.4em;
    padding-bottom: 10px;
}

.mdialog .inner .text {
    color: #777;
}

.mdialog .inner .buttons {
    padding-top: 30px;
    float: right;
}

.mdialog .inner .buttons td {
    padding-left: 20px;
    color: #1976D2;
    font-size: 0.9em;
    cursor: pointer;
}

.mdialog .overlay {
    display: none;
    background-color: rgba(3, 3, 3, 0.4);
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: absolute;
    top: 0;
    left: 0;
}